
<!DOCTYPE html>  
<html>  
<head>  
    <title>List</title>  
</head>  
<body>  
   
<h3>ec2</h3>  
<table border=4>  
    <thead>  
    
        <td>KeyName</td>  
        <td>InstanceId</td>  
        <td>InstanceType</td>  
    </thead>  
       
    {% for row in rows %}  
       
        <tr>  
           
            <td>{{row["KeyName"]}}</td>  
            <td>{{row["InstanceId"]}}</td>  
            <td>{{row["InstanceType"]}}</td>  
        </tr>  
       
    {% endfor %}  
</table>  
<br><br>  
   
<!-- <a href="/">Go back to home page</a>   -->
   
</body>  
</html>  